body {
  background-color: #fff;
  font-family: "Archivo Black", sans-serif;
  /* background-image: url("abstract.jpg"); linear-gradient(rgba(0, 0, 0, 0.3), rgba(70, 70, 70, 0.3)), */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html,
body {
  height: 90%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

.site-header {
  padding: 1rem 0;
}

header {
  display: block;
}

.site-header .content-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.content-container {
  max-width: 85vw;
  width: min(90vw, 85rem);
  margin-inline: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  display: block;
  flex: 1;
  width: 100%;
  min-height: 100%;
}

.main-article {
  margin-top: 40px;
}

.slice {
  padding: 20px 0px;
}

.slice-title {
  font-size: x-large;
  font-weight: 900;
}

.slice-description {
  font-size: larger;
  font-weight: 300;
}

section {
  display: block;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

/* Article */

.article .content-container {
  display: grid;
  padding: 150px;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block-end: 40px;
}

.article-entry a {
  color: #000;
}

.article-entry-title {
  color: #000;
  font-size: x-large;
  font-weight: 500;
  margin: 0;
  padding-block-end: 15px;
}

.article-entry-title a {
  color: #000;
}

.article-entry-date {
  color: #000;
  font-size: medium;
  font-weight: 300;
  margin: 0;
}

.article-body {
  padding-top: 40px;
  margin: 0px 0px;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.article-text {
  margin-bottom: 1.2rem;
  font-size: 1.1em;
  font-weight: 400;
  /* word-spacing: 0.1em; */
  /* letter-spacing: 0.1em; */
  line-height: 1.5em;
  align-content: center;
}

.article-title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 3em;
  font-weight: bolder;
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
}

.article-title-about {
  margin-bottom: 1rem;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 120px;
}

.article-subtitle {
  font-size: 1.7em;
  font-weight: 500;
}

.article-date {
  font-size: 1em;
  font-weight: 400;
  color: #555353;
}

@media screen and (min-width: 1001px) {
  span.article-title {
    font-weight: lighter;
    font-size: 3.2em;
    align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  }

  span.article-subtitle {
    font-weight: lighter;
    font-size: 2.2em;
  }

  .article-body {
    margin: 0px 0px;
  }

  /* p.article-text {
    font-weight: lighter;
    font-size: 1.2em;
  } */
}

@media screen and (max-width: 1000px) {
  span.article-title {
    font-weight: lighter;
    font-size: 2em;
    align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  }

  span.article-subtitle {
    font-weight: lighter;
    font-size: 1.5em;
  }

  .article-body {
    width: 100%;
  }

  /* p.article-text {
    font-weight: lighter;
    font-size: 1em;
  } */
}

.article-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  align-self: center;
}

/* HELLO title */

h1 {
  font-weight: normal;
  font-size: 8em;
}

.gradient-text {
  /* background-color: black; */
  align-self: center;
  background-image: linear-gradient(45deg, #1d1d1c, #d8349c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* .handle {
  display: inline-block;
  margin-top: 0.275em;
  letter-spacing: 0.5px;
} */

/* .handle a {
  font-size: 2em;
  text-decoration: none;
  color: #d8349c;
} */

.button {
  align-self: center;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 48px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #1d1d1c;
}

.button2:hover {
  background-color: #1d1d1c;
  color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  /* width: 300px; */
  padding: 20px;
  /* margin: 20px; */
}

/* .about {
  color: #d8349c;
  border: solid;
  border-color: #d8349c;
  border-width: 2px;
  border-radius: 5px;
  font-weight: bolder;
}

.about:hover {
  color: white;
  background-color: #d8349c;
  border-radius: 5px;
  font-weight: bolder;
}

.about.active {
  color: white;
  background-color: #d8349c;
  border-radius: 5px;
  font-weight: bolder;
} */

#logo {
  font-size: 32px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #d8349c;
  text-decoration: none;
}

/* Card */

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #e4e4e4;
  cursor: pointer;
  height: fit-content;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.card img {
  border-radius: 5px 0 0 5px;
  width: 30%;
}

.container-card {
  padding: 2px 16px;
  font-weight: lighter;
  font-size: 3.2vw;
}

/* Grid */

.wrapper {
  display: grid;
  justify-content: center;
  gap: 10px;
  /* grid-template-columns: repeat(3, 1fr); */
}

.container-list {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.github-ref {
  padding: 0px;
  width: 40px;
  height: 40px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  width: 200px;
  align-self: center;
}

.div-column {
  display: flex;   
  flex-wrap: nowrap;
  gap: 150px;
  width: 150px;
  height: 150px;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.icon-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.icon:hover,
.icon:focus,
.icon-logo:hover,
.icon-logo:focus,
.github-ref:hover,
.github-ref:focus {
  filter: invert(27%) sepia(37%) saturate(4360%) hue-rotate(299deg)
    brightness(98%) contrast(85%);
}

iframe {
  display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;
  margin-bottom: 40px;
}

/* Navigation bar */

nav {
  display: block;
  justify-self: flex-end;
  /* padding: 20px; */
  float: right;
  font-size: 1.2em;
}

nav a:hover {
  color: #d8349c;
  /* background-color: #1d1d1c; */
  /* border-radius: 5px; */
}

nav a {
  color: #1d1d1c;
  text-align: center;
  /* padding: 14px 16px; */
  /* text-decoration: none; */
}

nav a.active {
  color: #d8349c;
  /* background-color: #1d1d1c; */
  /* border-radius: 5px; */
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* footer */

.site-footer {
  display: block;
  font-size: small;
  align-self: center;
}

.site-footer p {
  text-align: center;
}

footer {
  /* position: fixed; */
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

textarea {
  text-align: left;
  resize: none;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  font-size: larger;
  outline: none;
}

/* img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.25);
  transform:scale(1.25);
} */

.notepad {
  display: flex;
  flex-direction: column;
  height: 96%;
  margin-top: 2vw;
  padding: 0rem 8vw;
}
