body {
  background-color: #fff;
  font-family: "Archivo Black", sans-serif;
  /* background-image: url("abstract.jpg"); linear-gradient(rgba(0, 0, 0, 0.3), rgba(70, 70, 70, 0.3)), */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html,
body {
  height: 90%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

header {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  display: flex;
  width: 100%;
  min-height: 93%;
  align-items: center;
}

section {
  display: block;
}

.site-header .content-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.content-container {
  max-width: 85vw;
  width: min(90vw, 85rem);
  margin-inline: auto;
}

.site-header {
  padding: 1rem 0;
}

.slice {
  padding: 20px 0px;
}

.slice-title {
  font-size: x-large;
  font-weight: 900;
}

.slice-description {
  font-size: larger;
  font-weight: 300;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  align-self: center;
  align-content: center;
}

/* Home */

.home-title {
  font-size: 4.5em;
  font-weight: 600;
}

.home-subtitle {
  font-size: x-large;
  font-weight: 300;
}

/* Home */

/* Article */

.main-article {
  margin-top: 40px;
  flex-direction: column;
}

.article {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.article-entry a {
  color: #000;
}

.article-entry-title {
  color: #000;
  font-size: x-large;
  font-weight: 500;
  margin: 0;
  padding-block-end: 15px;
}

.article-entry-title a {
  color: #000;
}

.article-entry-date {
  color: #000;
  font-size: medium;
  font-weight: 300;
  margin: 0;
}

.article-body {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px 0px;
}

.article-title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 3em;
  font-weight: bolder;
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
}

.article-text {
  margin-bottom: 1.2rem;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  align-content: center;
}

.article-subtitle {
  font-size: 1.7em;
  font-weight: 500;
}

.article-date {
  font-size: 1em;
  font-weight: 400;
  color: #555353;
}

.article-icon {
  width: 70%;
  height: 70%;
  object-fit: contain;
  align-self: center;
}

.article-img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  align-self: center;
}

.article-img-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.article-header {
  display: flex;
  flex-direction: row;
}

/* Article */

/* Timeline */

.timeline-text {
  margin-bottom: 1.2rem;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5em;
  align-content: center;
}

.timeline-subtitle {
  font-size: 1.7em;
  font-weight: 500;
}

.timeline {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block-start: 40px;
  padding-block-end: 40px;
}

.timeline-body {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px 0px;
}

.timeline-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
}

.timeline-box-row {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 100%;
  align-items: center;
}

.timeline-box-row img {
  max-width: 100%;
  max-height: 100%;
}

.timeline-text-column {
  display: flex;
  flex: 1;
  position: relative;
  padding: 0px 20px;
  margin: 0px;
  width: 100%;
}

.timeline-textbox-column {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: row;
  border-left: 4px solid #d8349c;
  padding: 10px 20px;
  width: 100%;
}

.timeline-textbox-column-right {
  border-right: 4px solid #d8349c;
  border-left: 0px;
}

.timeline-subtitle-left {
  text-align: right;
  width: 100%;
}

.timeline-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.timeline-title-about {
  margin-bottom: 1rem;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 120px;
}

/* Timeline */

/* Project */

#rcorners {
  height: fit-content;
  display: flex;
  border-radius: 25px;
  padding: 0px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html.project-gradient,
body.project-gradient {
  height: unset;
  background:
  linear-gradient(217deg, rgba(109, 109, 255, 0.622), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgba(0, 255, 0, 0.863), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(247, 146, 212, 0.898), rgba(0, 0, 255, 0) 70.71%);
}

.project-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85vw;
  width: min(90vw, 85rem);
  margin-inline: auto;
}

.project {
  height: 30%;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-color: #fff;
}

.project-subtitle {
  font-size: 1.7em;
  font-weight: 500;
}

.project-text {
  font-size: 1.3em;
  font-weight: 300;
}

.project-header {
  display: flex;
  flex-direction: row;
}

.project-screenshots {
  display: flex;
  width: 100%;
}

.project-icon {
  display: flex;
  flex: 1;
  align-self: flex-start;
  padding-bottom: 20px;
}

.project-icon-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  align-self: center;
  border-radius: 40px;
}

.project-description {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-content: center;
  padding-top: 20px;
}

.project-skills {
  font-size: 1.1em;
  font-weight: 300;
}

.project-body {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Project */

/* HELLO title */

h1 {
  font-weight: normal;
  font-size: 8em;
}

.gradient-text {
  /* background-color: black; */
  align-self: center;
  background-image: linear-gradient(45deg, #1d1d1c, #d8349c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* HELLO title */

/* Button */

.button {
  align-self: center;
  padding: 16px 48px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #1d1d1c;
}

.button:hover {
  background-color: #1d1d1c;
  color: white;
}

/* Button */

/* Main */

.main-box {
  display: flex;
  flex-wrap: wrap; 
  background-color: #ffffff;
  border-radius: 10px; 
  height: 100%;
}

/* Main */

/* Navigation bar */

nav {
  display: block;
  justify-self: flex-end;
  float: right;
  font-size: 1.2em;
}

nav a:hover {
  color: #d8349c;
}

nav a {
  color: #1d1d1c;
  text-align: center;
}

nav a.active {
  color: #d8349c;
}

.site-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.icon-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
}

/* Navigation bar */

/* Footer */

.site-footer {
  display: block;
  font-size: small;
  align-self: center;
}

.site-footer p {
  text-align: center;
}

footer {
  /* position: fixed; */
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

/* Footer */

/* Media */

.github-ref {
  padding: 0px;
  width: 40px;
  height: 40px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 0px 0px;
  margin: 0px;
  width: 160px;
}

/* Media */

/* Icon */

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.icon:hover,
.icon:focus,
.icon-logo:hover,
.icon-logo:focus,
.github-ref:hover,
.github-ref:focus {
  filter: invert(27%) sepia(37%) saturate(4360%) hue-rotate(299deg)
    brightness(98%) contrast(85%);
}

/* Icon */

/* Media 1001 */

@media screen and (min-width: 1001px) {
  span.article-title {
    font-weight: lighter;
    font-size: 3.2em;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  span.article-subtitle {
    font-size: 2.2em;
  }

  .article-body {
    margin: 0px 0px;
  }

  span.timeline-title {
    font-weight: lighter;
    font-size: 3.2em;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  span.timeline-subtitle {
    font-size: 2.2em;
  }

  .timeline-body {
    margin: 0px 0px;
  }
}

/* Media 1001 */

/* Media 800 - 680 */

@media screen and (max-width: 800px) and (min-width: 680px) {
  span.article-subtitle {
    font-size: 1.5em;
  }

  .article-text {
    margin-bottom: 1.2rem;
    font-size: 1em;
    line-height: 1em;
    font-weight: lighter;
    align-content: center;
  }

  .article-body {
    width: 100%;
  }

  .article-header {
    flex-direction: row;
    align-content: center;
  }

  .article-icon {
    align-self: center;
  }

  .article-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }

  .article-img {
    width: 150%;
    height: 150%;
    object-fit: contain;
    align-self: center;
  }

  span.timeline-subtitle {
    font-size: 1.5em;
  }

  .timeline-body {
    width: 100%;
  }

  .timeline-text {
    margin-bottom: 1.2rem;
    font-size: 1em;
    line-height: 1em;
    font-weight: lighter;
    align-content: center;
  }

  .timeline-row {
    border-left: 4px solid #d8349c;
  }

  .timeline-textbox-column {
    border-left: 0px;
    border-right: 0px;
    flex: 3;
  }

  .timeline-textbox-column-right {
    border-right: 0px;
    border-left: 0px;
  }

  .timeline-subtitle-left {
    text-align: left;
  }

  .timeline-order {
    flex-direction: row-reverse;
  }

  .main-box {
    flex-direction: column;
  }
}

/* Media 800 - 680 */

/* Media 680 */

@media screen and (max-width: 680px) {
  .home-title {
    font-size: 3.5em;
    font-weight: 600;
  }
  
  .home-subtitle {
    font-size: large;
    font-weight: 300;
  }

  span.article-subtitle {
    font-size: 1.5em;
  }

  .article-text {
    margin-bottom: 1.2rem;
    font-size: 1em;
    line-height: 1em;
    font-weight: lighter;
    align-content: center;
  }

  .article-body {
    width: 100%;
  }

  .article-header {
    flex-direction: column;
    align-content: center;
  }

  .article-icon {
    align-self: center;
  }

  .article-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }

  .article-img {
    width: 150%;
    height: 150%;
    object-fit: contain;
    align-self: center;
  }

  .article-icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
    align-self: center;
  }

  span.timeline-subtitle {
    font-size: 1.5em;
  }

  .timeline-text {
    margin-bottom: 1.2rem;
    font-size: 1em;
    line-height: 1em;
    font-weight: lighter;
    align-content: center;
  }

  .timeline-body {
    width: 100%;
  }

  .timeline-row {
    border-left: 4px solid #d8349c;
    flex-direction: column;
  }

  .timeline-textbox-column {
    border-left: 0px;
    border-right: 0px;
  }

  .timeline-textbox-column-right {
    border-right: 0px;
    border-left: 0px;
  }

  .timeline-subtitle-left {
    text-align: left;
  }

  #timeline-direction {
    flex-direction: column-reverse;
    text-align: left;
    width: 100%;
  }

  .main-box {
    flex-direction: column;
  }

  .project {
    height: 100%;
    width: 100%;
  }

  .project-subtitle {
    font-size: 0.9em;
    font-weight: 500;
  }

  .project-text {
    font-size: 0.7em;
    font-weight: 300;
  }

  .project-description {
    flex: 3;
    padding: 0px;
  }

  .project-icon {
    flex: 2;
  }

  .project-skills {
    font-size: 0.6em;
  }

  .project-icon-img {
    border-radius: 20px;
  }
}

/* Media 680 */